<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stressmaker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/stressiconpng"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".JumpButton"></activity>
        <activity android:name=".SoundTest" />
        <activity
            android:name=".Alarm2"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".AlarmAdapter"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".SoundTestAdapter"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".RejectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FastClickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>